/tojam/Assembly-CSharp-vs.csproj
/tojam/Assembly-CSharp.csproj
/tojam/Library/
/tojam/Temp/
.DS_Store
/tojam/tojam-csharp.sln
/tojam/tojam.sln
tojam/Assembly-CSharp-Editor.pidb
tojam/Assembly-CSharp-firstpass.pidb
