/tojam/Assembly-CSharp-vs.csproj
/tojam/Assembly-CSharp.csproj
/tojam/Library/
/tojam/Temp/
.DS_Store
/tojam/tojam-csharp.sln
/tojam/tojam.sln
/tojam/tojam.userprefs
/tojam/Assembly-CSharp-Editor-vs.csproj
/tojam/Assembly-CSharp-Editor.csproj
/tojam/Assembly-CSharp-firstpass-vs.csproj
/tojam/Assembly-CSharp-firstpass.csproj
/tojam/Assembly-UnityScript-vs.unityproj
/tojam/Assembly-UnityScript.unityproj
tojam/Assembly-CSharp-Editor.pidb
tojam/Assembly-CSharp-firstpass.pidb
tojam/Assembly-CSharp.pidb
tojam/Assembly-UnityScript.pidb
